# adapt for your network
server = 'irc.freenode.net'
port = 6667
password = ''
nick = 'oiler_er_innen'
realname = 'oiler_er_innen'
user = 'oiler_er_innen'
chan = '#oilertest'
# to make the bot !quit and !ignore and stuff
ownerpw = 'trggr'

vetotime = 15

# name of your twitter account, for informational purposes only
twitter_account = '@ev'

# get these from dev.twitter.com
consumer_key = 'YOUR CONSUMER KEY'
consumer_secret = 'YOUR CONSUMER SECRET'

# get these from dev.twitter.com if you want
access_token = 'OAUTH ACCESS TOKEN'
access_token_secret = 'OAUTH ACCESS TOKEN SECRET'
